---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Hisatoria">
    <section class="Historia animate-fade-in animate-duration-1000">
        <h3 class="title">Historia</h3>
        <div>
            <article class="texto">
                <p>
                    Ha pasado más de una década desde la repentina aparición de
                    las 'puertas', los caminos que conectan nuestro mundo con
                    una dimensión diferente. Desde entonces, ciertos humanos han
                    despertado poderes sobrenaturales. A estos individuos se les
                    llama 'cazadores'. Los cazadores se ganan la vida utilizando
                    sus poderes para conquistar mazmorras dentro de las puertas.
                    Un día, después de sobrevivir por poco a una mazmorra doble
                    abrumadoramente poderosa que casi acaba con todo su grupo,
                    un programa misterioso llamado Sistema lo elige como su
                    único jugador y, a su vez, le da la sorprendente habilidad
                    de subir de nivel sin límites. Durante su viaje, Jinwoo
                    luchará contra todo tipo de enemigos, tanto humanos como
                    monstruos, y descubrirá los secretos que entrañan las
                    mazmorras y la verdadera fuente de sus poderes. <br />
                    Solo Leveling explora la historia del presunto cazador más débil
                    de toda la humanidad, Sung Jinwoo, en un mundo donde existen
                    cazadores superdotados y monstruos que batallan entre sí en incursiones
                    para mantener la paz en el mundo. Debido a la falta de dinero
                    para pagar las facturas del hospital de su madre, la matrícula
                    de su hermana y su propia falta de perspectivas laborales, Sung,
                    que es todo menos poderoso, arriesga su vida en incursiones tratando
                    solamente de mantenerse con vida.
                </p>
                <section class="flex flex-col md:flex-row gap-3 justify-center">
                    <video
                        src="/videos/sololevelingtraileroficial.mp4"
                        controls
                        class="w-full md:w-[50%]"
                    >
                    </video>
                    <video
                        src="/videos/leveling.mp4"
                        controls
                        class="w-full md:w-[50%]"
                    >
                    </video>
                </section>
            </article>
        </div>
    </section>
</Layout>

<style>
    .Historia {
        width: 90vw;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px;
        border-radius: 6px;
        background-color: #e0e0dc;
        cursor: pointer;
    }

    .texto {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .title {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        text-shadow: 3px 3px rgb(153, 153, 248);
        font-size: 50px;
        color: black;
        -webkit-text-stroke-color: #aaaaaa;
        -webkit-text-stroke-width: 1px;
    }
</style>
