---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Hisatoria">
    <section class="Historia">
        <h3 class="title">Historia</h3>
        <div>
            <article class="texto">
                <p>
                    En un mundo en el que ciertos humanos llamados «cazadores»
                    poseen habilidades mágicas, estos deben luchar contra
                    monstruos para proteger a la raza humana de una aniquilación
                    segura. Un cazador muy débil llamado Sung Jinwoo se
                    encuentra en una lucha en la que solo puede tratar de
                    sobrevivir. Un día, después de sobrevivir por poco a una
                    mazmorra doble abrumadoramente poderosa que casi acaba con
                    todo su grupo, un programa misterioso llamado Sistema lo
                    elige como su único jugador y, a su vez, le da la
                    sorprendente habilidad de subir de nivel sin límites.
                    Durante su viaje, Jinwoo luchará contra todo tipo de
                    enemigos, tanto humanos como monstruos, y descubrirá los
                    secretos que entrañan las mazmorras y la verdadera fuente de
                    sus poderes. <br />
                    Solo Leveling explora la historia del presunto cazador más débil
                    de toda la humanidad, Sung Jinwoo, en un mundo donde existen
                    cazadores superdotados y monstruos que batallan entre sí en incursiones
                    para mantener la paz en el mundo. Debido a la falta de dinero
                    para pagar las facturas del hospital de su madre, la matrícula
                    de su hermana y su propia falta de perspectivas laborales, Sung,
                    que es todo menos poderoso, arriesga su vida en incursiones tratando
                    solamente de mantenerse con vida.
                </p>
                <section>
                    <video
                        src="/videos/sololevelingtraileroficial.mp4"
                        controls
                    >
                    </video>
                    <video src="/videos/leveling.mp4" controls> </video>
                </section>
            </article>
        </div>
    </section>
</Layout>

<style>
    .Historia {
        width: 90vw;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px;
        border-radius: 6px;
        background-color: #ffffdd;
        cursor: pointer;
    }

    .texto {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .title {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        text-shadow: 3px 3px rgb(154, 154, 247);
        font-size: 50px;
        color: black;
        -webkit-text-stroke-color: #ffffdd;
        -webkit-text-stroke-width: 1px;
    }
    video {
        position: relative;
        border-radius: 6px;
        width: 50%;
    }
    article section {
        display: flex;
        gap: 20px;
    }
</style>
