---
const { titulo, img, contenido } = Astro.props;
---

<div class="carta animate-fade-in animate-duration-1000">
	<figure>
		<img src={img} />
	</figure>
	<div class="contenido
	p-4
	text-justify">
		<h3>{titulo}</h3>
		<p>
			{contenido}
		</p>
	</div>

	<style>
		.carta {
			width: 30%;
			border-radius: 8px;
			box-shadow: 2px 1px 10px gray;
			background-color: #ffffdd;
			cursor: pointer;
			overflow: hidden;
		}

		.carta img:hover {
			scale: 1.1;
			transition: all 1000ms;
		}

		.carta img {
			width: 100%;
			border-radius: 10px;
		}
	</style>
</div>
