<header class="sticky top-0 z-10 p-5 backdrop-blur-lg opacity-back">
    <nav
        class="flex flex-col md:flex-row md:justify-between items-center gap-5"
    >
        <h1 class="logo mb-1">レベリングのみ</h1>
        <ul class="flex flex-col md:flex-row gap-4 items-center">
            <li>
                <a
                    href="/"
                    class="permanent-marker-regular p-4 rounded-xl hover:bg-gray-600"
                    >HOME</a
                >
            </li>
            <li>
                <a
                    href="/info/historia"
                    class="p-4 rounded-xl hover:bg-gray-600">HISTORIA</a
                >
            </li>
            <li>
                <a
                    href="/info/habilidades"
                    class="p-4 rounded-xl hover:bg-gray-600">HABILIDADES</a
                >
            </li>
        </ul>
    </nav>
</header>
<div>
    <h1>personalidades</h1>
</div>

<style>
    .permanent-marker-regular {
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .sin-scroll::-webkit-scrollbar {
        width: 0;
    }

    main {
        width: 100%;
    }

    .opacity-back::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -1;
        opacity: 0.3;
    }

    .container-nav {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .navegador {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        background-color: #ffffdd;
    }

    nav li a {
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        /* text-shadow: 2px 2px rgb(168, 168, 250);
        -webkit-text-stroke-color: aliceblue;
        -webkit-text-stroke-width: 1px;*/
        color: black;
        text-decoration: none;
    }

    nav li a:hover {
        color: aqua;
    }

    @media (max-width: 900px) {
        .container-nav {
            position: sticky;
        }

        .navegador {
            display: flex;
            flex-direction: column;
        }

        .navegador ul {
            display: flex;
            margin-right: 8%;
            overflow-x: scroll;
            width: 100%;
        }
    }
</style>
